<div class="container mt-3  h-100">
      <div class="d-flex flex-wrap flex-row-reverse bg-primary bg-opacity-25 rounded-3">
           pagination
      </div>
      <div class="d-flex gap-4 flex-wrap mt-2">
            <%for(let i=0;i<tasks.length;i++){%>
                  <div style="min-height: 100px; min-width: 250px;"
                        class="shadow-sm rounded-3 border-success border-0 border-start">
                        <span class="badge bg-light text-danger">Task-<%=i+1%></span>
                        <ul class="list-unstyled px-1">
                              <li>
                                    <span class="badge text-dark">Task Name:</span>
                                    <%=tasks[i].taskname%>
                              </li>
                              <li>
                                    <span class="badge text-dark">Status:</span>
                                    <%=tasks[i].status%>
                              </li>
                              <li>
                                    <span class="badge text-dark">Assigned By:</span>
                                    <%=tasks[i].assignedby%>
                              </li>
                              <li>
                                    <span class="badge text-dark">Assigned To:</span>
                                    <%=tasks[i].assignedto%>
                              </li>
                              <li>
                                    <span class="badge text-dark">Assigned Time:</span>
                                    <%=tasks[i].assignedtime%>
                              </li>
                              <li>
                                    <span class="badge text-dark">Due Time:</span>
                                    <%=tasks[i].duetime%>
                              </li>
                              <li>
                                    <button class="btn btn-sm bg-success bg-opacity-10 py-0">See Detail</button>
                              </li>
                        </ul>
                  </div>
                  <%}%>
      </div>
</div>
